<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gmu.cs.cs477.datapoker" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".OnePlayer"
            android:label="@string/title_activity_one_player"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".TwoPlayer"
            android:label="@string/title_activity_two_player"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Payoff"
            android:screenOrientation="landscape"
            android:label="title_activity_payoff"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LogInActivity"
            android:label="Data Poker"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="Data Poker Sign Up"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
